

<div class="jumbotron center">
	<h1>Welcome!</h1>
	<p>
	<span><%= link_to 'Log In', '#', class: 'btn btn-default btn-lg' %> 	</span>
	<span><%= link_to 'Sign Up', '#', class: 'btn btn-primary btn-lg' %>	</span>
	
	</p>

	
</div>
